body {
    background-color: #f1f1f1;
    padding-bottom: 50px;
}

.navbar {
    padding: 30px 150px;
}

.nav-link {
    margin-right: 30px;
}

.bg-banner {
    background-color: var(--color2);
    height: 350px;
    padding: 30px 150px;
}

.dropdown-toggle:hover {
    background-color: var(--color2) !important;
}

.bg-banner p {
    font-size: 22px;
    font-weight: 300;
}

.card-form {
    height: 600px;
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 10px;
}