/* import font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*------------------*/

/* define color */

:root {
    --color1: #0085FF;
    --color2: #3A98D6;
    --shadow1: 0px 1px 6px #d1d1d1;
}

/* define montserrat font */

.font-montserrat-light {
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif;
}

.font-montserrat-regular {
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif;
}

.font-montserrat-medium {
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif;
}

.font-montserrat-bold {
    font-weight: 600 !important;
    font-family: 'Montserrat', sans-serif;
}


/* define nunito font */

.font-poppins-light {
    font-weight: 300 !important;
    font-family: 'Poppins', sans-serif;
}

.font-poppins-regular {
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif;
}

.font-poppins-medium {
    font-weight: 600 !important;
    font-family: 'Poppins', sans-serif;
}

.font-poppins-bold {
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif;
}

/* define bgcolor and color class */

.bg-color1 {
    background-color: var(--color1);
}

.color1 {
    color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.color2 {
    color: var(--color2);
}

.bg-shadow {
    box-shadow: var(--shadow1);
}